* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
}

body {
    display: grid;
    justify-content: center;
    background-color: rgb(6, 6, 63);
    color: rgb(247, 235, 235);
}

header {
    line-height: normal;
}

button {
    background-color: transparent;
    outline: none;
    color: white;
    border: 0;
    font-size: 1.5rem;
}

input{
    background-color: #fff;
    color: #000;
    height: 2rem;
}
li{
    list-style: none;
}

.hide {
    display: none;
}

.controls {
    display: flex;
}
.controls button{
    font-size: 1rem;
}

.container{
    margin-top: 1rem;
}